.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topContainer .items {
    margin: 10px;
}

.Containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}

img {
  max-height: 50px;
  max-width: 50px;
  margin: 1rem;
  cursor: pointer;
}

.scoreContainers {
    display: flex;
    justify-content: space-around;
}

.scoreContainers .scores {
  margin: 1rem;
}
